@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --accent-color: #316c21;
  --base-color: #ffffff;
  --text-color: #000000;
  --input-color: #f3fff7;
  --button-color: #56c737;
  --button-hover: #4c8632;
}

* {
  margin: 0;
  padding: 0;
}




header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;

}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: rgb(53, 93, 55);
  color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

form>div {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

footer .wrapper {
  height: 100vh;
  width: max(40%, 600px);
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--button-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}

form input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}

form input:hover {
  border-color: var(--accent-color);
}

form input:focus {
  outline: none;
  border-color: var(--text-color);
}

div:has(input:focus)>label {
  background-color: var(--text-color);
}

form input::placeholder {
  color: var(--text-color);
}

form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: .85em 4em;
  background-color: var(--button-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}

form button:hover {
  background-color: var(--text-color);
}

form button:focus {
  outline: none;
  background-color: var(--text-color);
}

button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: .85em 4em;
  background-color: var(--button-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 60%;
  object-fit: cover;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: var(--accent-color);
  text-transform: uppercase;
}


form select {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}

.program-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}


.text-angaza-green {
  color: #316c21 
}
